<div class="category">
  <div class="fixed-width-container">
    <div class="item-wrap">
      <div class="category-item">
        <img
          src="/assets/images/gwendal-cottin-3IDSZXfcQbg-unsplash.jpg"
          alt=""
        />
        <div class="category-content">
          <div>Men Fashion</div>
          <div>Shop More</div>
        </div>
      </div>
      <div class="category-item">
        <img
          src="/assets/images/william-daigneault-Q-nh_GayYsc-unsplash.jpg"
          alt=""
        />
        <div class="category-content">
          <div>Women Fashion</div>
          <div>Shop More</div>
        </div>
      </div>
    </div>
  </div>
</div>
