@import '../../../../../styles.scss';

.checkout {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 50% 50%;

  .product-view {
    background: $bg-yellow-lt;
    padding: 40px;

    .product-list {
      border-bottom: 1px solid $text-black-lt;

      .product-item {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        .img-div {
          height: 100px;
          width: 100px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .name-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          margin-left: 10px;

          .name {
            @include truncate(2);
            font-size: $font-size-md;
          }

          .price-quantity {
            text-align: right;

            .quantity {
              color: $text-black-lt;
              margin-bottom: 5px;
              font-size: $font-size-sm;
            }
          }
        }
      }
    }

    .sub-shipping {
      margin-top: 10px;
      border-bottom: 1px solid $text-black-lt;

      & > div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        div:first-child {
          color: $text-black-lt;
        }
      }
    }

    .total {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
  }

  .detail-view {
    padding: 0 40px;

    .shipping-address {
      .title {
        padding: 20px 0;
        font-size: $font-size-lg;
      }

      .map-container {
        width: 100%;
        height: 300px;
        position: inherit;
      }

      .address-input {
        padding: 20px 0;
      }
    }
  }
}
