<div class="cart">
  <div class="cart-title">
    <div class="fixed-width-container">
      <div class="title">
        Cart
      </div>
    </div>
  </div>
  <div class="cart-wrap">
    <div class="fixed-width-container">
      <div class="cart-content">
        <div class="cart-header cart-table">
          <div>Product</div>
          <div>Price</div>
          <div>Quantity</div>
          <div>Total</div>
        </div>
        <div class="cart-item cart-table">
          <div class="product">
            <div class="product-image">
              <img
                src="/assets/images/william-daigneault-Q-nh_GayYsc-unsplash.jpg"
              />
            </div>
            <div class="name">
              Minimalistic shop for multipurpose use
            </div>
          </div>
          <div class="price">360</div>
          <div class="quantity">2</div>
          <div class="product-total">{{'720.5' | rs }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
