<header class="header">
  <div class="fixed-width-container">
    <div class="header-wrapper">
      <div class="logo-title">
        <div class="logo-div">
          <i class="material-icons">storefront</i>
        </div>
        <div class="title-div">ESHOP</div>
      </div>
      <div class="tools">
        <div class="search-bar"></div>
        <div class="cart">
          <i class="material-icons">shopping_cart</i>
        </div>
        <div class="user-icon">
          <i class="material-icons">account_circle</i>
        </div>
      </div>
    </div>
  </div>
</header>
