.fixed-width-container {
  max-width: 80rem;
  margin: 0 auto;
}

.btn {
  font-size: $font-size-n;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  transition: color 100ms;
  font-weight: bold;
}

.btn-oval {
  border-radius: 24px;
}

.btn-orange {
  background: $text-orange;
  color: white;
}

.btn-black {
  background: $text-black;
  color: white;
}

.btn:hover,
.btn:focus {
  opacity: 0.5;
}

input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 5px;
  margin: 3px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 3px 0 dodgerBlue;
}

select {
  padding: 5px 10px;
  background: white;
  color: $text-black;
  border: 1px solid #cccccc;
  margin: 5px;
  min-width: 150px;

  &::-ms-expand {
    right: 10px;
    display: none;
  }
}

.formgroup-div {
  margin-top: 15px;
  .formgroup {
    .label {
      font-size: $font-size-md;
      margin-bottom: 6px;
      color: $text-black;
      text-transform: capitalize;
      font-weight: 500;
    }

    .input {
      input {
        height: 50px;
        padding: 0 25px;
      }
    }
  }

  .error {
    color: $text-orange;
    padding: 5px 0 0;
  }
}
