$font-size-n: 1rem;
$font-size-lg: 1.5rem;
$font-size-xlg: 1.75rem;

$black-n: #141517;
$black-lt: #74706b;

$flamingo: #ee4d30;
$torch-red: #ff2020;

$text-black: $black-n;
$text-black-lt: $black-lt;
$text-orange: $torch-red;
