@import '../../../../../styles.scss';

.header {
  color: $text-black;
  text-align: center;

  .title {
    font-weight: bold;
    font-size: $font-size-lg;
  }

  .subtitle {
    margin-top: 10px;
    font-size: $font-size-md;
  }
}
