@import '../../../../../styles.scss';

.register {
  margin-top: 40px;

  .info-button-div {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      font-size: $font-size-n;
      a {
        color: $text-orange;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  button {
    border-radius: 0;
    min-height: 50px;
  }

  .success {
    text-align: center;

    .success-icon {
      i {
        color: $success-green;
        font-size: $font-size-xxxlg;
      }
    }

    .message {
      padding: 10px 0;
    }

    .back {
      margin-top: 10px;
    }
  }
}
